@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar for a more modern look */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #1e293b; /* bg-slate-800 */
}
::-webkit-scrollbar-thumb {
  background: #334155; /* bg-slate-700 */
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #475569; /* bg-slate-600 */
}